@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-clr: #ffffff;
  --text-clr-alt: #171a1d;
  --select-clr: #fee78b;
  --select-bg: #2e3134;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0;
}

::-moz-selection {
  color: var(--select-clr);
  background: var(--select-bg);
}
::selection {
  color: var(--select-clr);
  background: var(--select-bg);
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  font-smooth: antialiased;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  width: 0.25rem !important;
  height: 0.75rem !important;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  background: white !important;
  border-radius: 10px !important;
}

section {
  width: auto;
  min-width: 0;
  display: block;
}

svg {
  display: block;
  fill: currentColor;
}

div {
  display: block;
}

.text-clr {
  color: var(--text-clr);
}

.text-clr-alt {
  color: var(--text-clr-alt);
}

.letter-spacing {
  letter-spacing: 0.05em;
}
.review .swiper-slide {
  border-radius: 40px !important;
}
.review .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review .swiper-pagination {
  text-align: center;
}
.review .swiper-pagination-bullet-active {
  width: 30px !important;
  border-radius: 12px !important;
  transition: all ease-out 300ms !important;
}

.review .swiper-pagination {
  transform: translateY(250%) !important;
}

.nice-scroll-bar::-webkit-scrollbar {
  width: 0.25rem !important;
  height: 0.75rem !important;
}

.nice-scroll-bar::-webkit-scrollbar-track {
  background: #11111108;
}

.nice-scroll-bar::-webkit-scrollbar-thumb {
  background: #ddd !important;
  border-radius: 10px !important;
}

.no-scroll-bar::-webkit-scrollbar {
  width: 0.25rem !important;
  height: 0.75rem !important;
}

.no-scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

.no-scroll-bar::-webkit-scrollbar-thumb {
  background: transparent !important;
  border-radius: 10px !important;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-banner {
  background-image: url("/assets/images/banner-bg.png");
  height: 600px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu-texture {
  background-image: url("/assets/images/menu-texture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul[aria-label="Pagination"] {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}
ul[aria-label="Pagination"] li {
  white-space: nowrap;
  &.selected {
    a {
      background: #c0eb75;
      color: white;
    }
  }
  margin: 0 5px;
  &:last-child {
    margin-right: 0;
  }
  // disable text selection
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgb(244 244 245);
    color: black;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
    &:hover {
      background: #c0eb75;
      color: black;
    }
    &[rel="prev"] {
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 0 10px;
    }
    &[rel="next"] {
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 0 10px;
    }
  }
}

.shimmer {
  position: relative;
  background: #efefef;
  background-image: linear-gradient(
    to right,
    #efefef 0%,
    #fff 10%,
    #efefef 20%,
    #fff 30%,
    #efefef 50%,
    #fff 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 100%;
  animation: shimmer 1s infinite ease-in-out forwards;
  -webkit-animation: shimmer 1s infinite ease-in-out forwards;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

@media (min-width: 768px) {
  .review .swiper-pagination {
    text-align: left !important;
  }
}
