@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-clr: #ffffff;
  --text-clr-alt: #171a1d;
  --select-clr: #fee78b;
  --select-bg: #2e3134;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0;
}

::-moz-selection {
  color: var(--select-clr);
  background: var(--select-bg);
}
::selection {
  color: var(--select-clr);
  background: var(--select-bg);
}

body {
  text-rendering: optimizeLegibility;
  font-smooth: antialiased;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  width: 0.25rem !important;
  height: 0.75rem !important;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  background: white !important;
  border-radius: 10px !important;
}

section {
  width: auto;
  min-width: 0;
  display: block;
}

svg {
  display: block;
  fill: currentColor;
}

div {
  display: block;
}

.text-clr {
  color: var(--text-clr);
}

.text-clr-alt {
  color: var(--text-clr-alt);
}

.letter-spacing {
  letter-spacing: 0.05em;
}
